img {
    width: 100%;
    height: auto;
}

h1 {
    color: #ffffff;
    font-weight: bold;
}

p {
    color: #ffff
}

button {
    background-color: #E50914;
    color: #ffff;
    text-decoration: none;
}

button:hover {
    background-color: #E50914;
    color: #ffff;
    border: 1px solid #ffff;
}

.video-player, youtube-player {
    width: 100%;
    height: auto;
}